:root {
    --primary-color: #0B0E14;
    --secondary-color: #00E5FF;
    --tertiary-color: #1C212B65;
    --background-color: #1C212B;
    --secondary-background-color: #FFE600;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Whole Site */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 40px auto 50px;
    padding: 5px 5px 5px 10px;
    align-items: end;
    border-bottom: solid 1px var(--secondary-background-color);
    column-gap: 5px;
    background-color: var(--primary-color);
}

header img {
    display: block;
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
}

h1 {
    font-size: 1rem;
    color: var(--secondary-background-color);
    font-family: "Ubuntu", sans-serif;
}

/* Hamburger */
.hamburger {
    border: none;
    background: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.hamburger::after {
    content: "\2630";
    font-size: 2.5rem;
}

.hamburger.open::after {
    content: "\2715";
}

/* Navigation */
.navigation {
    display: none;
}

.navigation.open {
    display: block;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    padding: 10px;
    color: var(--background-color);
    background-color: var(--secondary-color);
    border-bottom: solid 1px var(--primary-color);
    font-family: "Ubuntu", sans-serif;
}

.navigation a.current {
    background-color: var(--secondary-background-color);
    color: var(--primary-color);
}

.navigation a:hover {
    background-color: var(--tertiary-color);
}

/* Main */
#title-section {
    background-color: var(--background-color);
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

h2 {
    color: var(--secondary-color);
}

/* Grid/List Toggle */
#list-toggle {
    background-color: var(--secondary-background-color);
}

#list-toggle::after {
    content: "⊞";
}

#list-toggle.active::after {
    content: "≡";
}

#member-cards {
    display: grid;
}

.card-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#member-cards.active {
    display: flex;
    flex-direction: column;
}

#member-cards.active .card-img {
    display: none;
}

#member-cards.active .member-card {
    background-color: transparent;
    border-radius: 0;
    border: none;
}

/* Members */
.member-card {
    border-radius: 10px;
    border: var(--primary-color) 1px solid;
    background-color: var(--tertiary-color);
    margin: 0.25rem;
    padding: 0.5rem;
}

.member-card a {
    color: var(--primary-color);
    text-decoration: none;
}

.member-card h3 {
    border-bottom: var(--primary-color) 1px solid;
}

.membership-badge {
    position: relative;
    
}

/* Footer */
footer {
    text-align: left;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Ubuntu", sans-serif;
    position: relative;
    bottom: 0;
}

footer img {
    width: 50px;
    height: 50px;
}

footer h3 {
    color: var(--secondary-background-color)
}

footer ul {
    list-style: none;
    display: flex;
}

footer li {
    padding-right: 30px;
}