/* Hero Section */
#hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}

#hero-section img {
    max-width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
    margin-top: 0;
}

#hero-btn {
    position: absolute;
    align-self: flex-end;
    margin-bottom: 1rem;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    border-radius: 5px;
}

/* Events Section */
#events-section {
    margin: 20px 0;
    position: relative;
    border: 1px solid var(--secondary-background-color);
    border-radius: 10px;
}

#events-section img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
}

#events-section {
    overflow: hidden;
    max-width: 580px;
}

#events-section h2 {
    border-radius: 10px 10px 0px 0px;
    background-color: var(--primary-color);
    margin: 0;
    padding: 10px;
    max-width: 580px;
}

#events-section p {
    padding: 10px;
    background-color: var(--tertiary-color);
    color: var(--secondary-background-color);
    font-family: "Ubuntu", sans-serif;
    max-width: 580px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Weather Section */

#weather-section {
    display: grid;
    gap: 1rem;
    margin: 20px 0;
}

#current-weather-card,
#forecast-weather-card {
    border: 1px solid var(--secondary-background-color);
    border-radius: 10px;
    padding: 12px;
    background-color: var(--background-color);
}

#current-weather {
    margin: 0 0 0.75rem;
    line-height: 1.4;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid var(--secondary-background-color);
    position: relative;
}

#current-weather img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--tertiary-color);
    border-radius: 50%;
}

#forecast-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.forecast-day {
    border: 1px solid var(--secondary-background-color);
    border-radius: 6px;
    padding: 0.5rem;
    text-align: center;
    background-color: #fff;
}

.forecast-day img {
    width: 40px;
    height: 40px;
    background-color: var(--tertiary-color);
    border-radius: 50%;
}

#forecast-container .forecast-day p {
    margin: 0.25rem 0 0;
}

/* Members Section */
#members-section {
    margin: 20px 0;
    border: 1px solid var(--secondary-background-color);
    border-radius: 10px;
    padding: 12px;
    background-color: var(--background-color);
}

#top-member-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.member-card {
    border-radius: 10px;
    border: 1px solid var(--secondary-background-color);
    background-color: #fff;
    padding: 0.5rem;
    text-align: center;
}

.member-card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.member-card h3 {
    margin: 0.5rem 0;
    border-bottom: 1px solid var(--primary-color);
}

.member-card p {
    margin: 0.25rem 0;
}

.member-card a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}
