:root {
    --primary-color: #0B0E14;
    --secondary-color: #00E5FF;
    --tertiary-color: #1C212B65;
    --background-color: #1C212B;
    --secondary-background-color: #FFE600;
    --tertiary-background-color: #2B3A5A;
}