/* Hero Section */
#hero-section {
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

#hero-section > img {
    margin: 0;
    width: 100%;
    height: auto;
}

#hero-text {
    position: absolute;
    top: 15%;
    left: 1rem;
    max-width: 40%;
    padding: 0 1rem;
}

/* Main */
#about-section {
    margin: 1rem;
}

/* Image gallery */
#image-gallery {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.gallery img {
    border: 3px solid var(--tertiary-color);
    border-radius: 10px;
    box-shadow: var(--primary-text-color) 0px 1px 3px, var(--primary-text-color) 0px 1px 2px;
    margin-bottom: 1rem;
}

#gallery-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.gallery-link {
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--tertiary-color);
}

.gallery-link:hover {
    background-color: var(--primary-color);
}

#gallery-controls {
    display: none;
}